@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url('../public/fonts/Inter/static/Inter-Regular.ttf')
}

@layer base {
    body {
        @apply text-white  p-4 bg-themeColor-900 
    }
}

* {
    max-zoom: 1.2 !important;
}

.grid-alignment {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));

}

.tbodySelector > tr:last-child> a:nth-child(1) > span:nth-child(1) {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.tbodySelector > tr:last-child > span:nth-child(1) {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

